.hide-answer {
  display: none;
}
.show-answer {
  display: block;
  color: gray;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  border: 1px solid blue;
  text-align: left;
  padding: 0 20px;
  margin: 45px auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 390px;
  border-left: 4px solid orangered;
  border-radius: 5px 25px 5px 25px;
}
.button {
  position: absolute;
  left: 360px;
  top: 21px;
}
.button:hover {
  cursor: pointer;
  transform: scale(2);
  color: blue;
}
